@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  
  --color-brand-blue: #0F172A;
  --color-brand-gray: #F3F4F6;
  --color-brand-green: #14532D;
}

:root {
  --background: #ffffff;
  --foreground: #0F172A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #F3F4F6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
